.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}

.card h2 {
    text-align: center;
    color: black;
}

.card h4 {
    text-align: center;
    color: black;
}

.card img {
    width: 80px;
    border-radius: 4px;
    
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}