* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.products,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

body {
  background-color: #f2f2f2;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.current-page {
  margin: 10px;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover {
  background-color: #e6e6e6;
}

.primary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}
.primary:hover {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}
.primary:focus {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}
.primary:active {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}
.primary:active:hover {
  background-color: #204d74;
  border-color: #2e6da4;
  color: #fff;
}
.primary:active:focus {
  background-color: #204d74;
  border-color: #2e6da4;
  color: #fff;
}
.secondary {
  background-color: #fff;
  border-color: #ccc;
  color: #000;
}
.secondary:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #000;
}
.secondary:focus {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #000;
}
.secondary:active {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #000;
}
.secondary:active:hover {
  background-color: #adadad;
  border-color: #ccc;
  color: #000;
}
.secondary:active:focus {
  background-color: #adadad;
  border-color: #ccc;
  color: #000;
}
.success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
.success:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}
.success:focus {
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}
.success:active {
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}
.success:active:hover {
  background-color: #398439;
  border-color: #4cae4c;
  color: #fff;
}
.success:active:focus {
  background-color: #398439;
  border-color: #4cae4c;
  color: #fff;
}
.info {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}
.info:hover {
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff;
}
.info:focus {
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff;
}
.info:active {
  background-color: #31b0d5;
  border-color: #269abc;
  color: #fff;
}
.info:active:hover {
  background-color: #269abc;
  border-color: #46b8da;
  color: #fff;
}
.info:active:focus {
  background-color: #269abc;
  border-color: #46b8da;
  color: #fff;
}
.warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff;
}
.warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
  color: #fff;
}
.warning:focus {
  background-color: #ec971f;
  border-color: #d58512;
  color: #fff;
}
.warning:active {
  background-color: #ec971f;
  border-color: #d58512;
  color: #fff;
}
.warning:active:hover {
  background-color: #d58512;
  border-color: #eea236;
  color: #fff;
}
.warning:active:focus {
  background-color: #d58512;
  border-color: #eea236;
  color: #fff;
}
.danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}
.danger:hover {
  background-color: #d2322d;
  border-color: #ac2925;
  color: #fff;
}
.danger:focus {
  background-color: #d2322d;
  border-color: #ac2925;
  color: #fff;
}
.danger:active {
  background-color: #d2322d;
  border-color: #ac2925;
  color: #fff;
}
.danger:active:hover {
  background-color: #ac2925;
  border-color: #d43f3a;
  color: #fff;
}
.danger:active:focus {
  background-color: #ac2925;
  border-color: #d43f3a;
  color: #fff;
}